# Start command: composer update --classmap-authoritative && vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 9
    treatPhpDocTypesAsCertain: false
    inferPrivatePropertyTypeFromConstructor: true
    checkGenericClassInNonGenericObjectType: false
    # Void as typehints are available only on PHP 7.1+
    checkMissingIterableValueType: false
    paths:
        - app/
        - rest/
    excludePaths:
        - vendor/
        - tests/
        - node_modules/
        - ajax/
        - frontend/
        - engine/
        - cli/
        - internal/
        - integrations/
        - functions/
        - backend/
    bootstrapFiles:
        # CMB2 is loaded in this file
        - tests/phpstan/bootstrap.php
        # Does not work in "scanFiles"
        - vendor/wpbp/widgets-helper/class.wph-widget.php
        - vendor/autoload.php
    scanFiles:
        - disco.php
        - uninstall.php
        - vendor/wpbp/i18n-notice/src/i18n-wordpressorg-v3.php
        - vendor/freemius/wordpress-sdk/start.php
        - vendor/freemius/wordpress-sdk/includes/class-freemius-abstract.php
        - vendor/freemius/wordpress-sdk/includes/class-freemius.php
        - vendor/inpsyde/wp-context/src/WpContext.php
    scanDirectories:
        - ../woocommerce
        - ../../../wp-admin
        - ../../../wp-includes
    ignoreErrors:
        - '#^Function esc_attr invoked with 1 parameter, 0 required\.$#'
        - '#^Function get_option invoked with 2 parameters, 0 required\.$#'
        - '#^Function apply_filters invoked with 2 parameters, 0 required\.$#'
        - '#^Function apply_filters invoked with 3 parameters, 0 required\.$#'
        - '#^Function __ invoked with 2 parameters, 0 required\.$#'
        - '#^Function __ invoked with 1 parameter, 0 required\.$#'
        - '#^Function add_action invoked with 2 parameters, 0 required\.$#'
        - '/^Parameter #1 \$var of function strval expects bool\|float\|int\|resource\|string\|null, mixed given.$/'
        - '/^Parameter #1 \$response of method WP_REST_Controller::prepare_response_for_collection\(\) expects WP_REST_Response, WP_Error|WP_REST_Response given./'
        - '/^Call to an undefined method WP_Error|WP_REST_Response::header\(\)./'
        - '/^Call to an undefined method WP_Error|WP_REST_Response::header\(\)./'
        - '/^Call to an undefined method WP_Error|WP_REST_Response::set_status\(\)./'
# Not used in the boilerplate.
#        # Uses func_get_args()
#        - '#^Function apply_filters invoked with [34567] parameters, 2 required\.$#'
#        # https://core.trac.wordpress.org/ticket/43304
#        - '/^Parameter #2 \$deprecated of function load_plugin_textdomain expects string, false given\.$/'
#        # WP-CLI accepts a class as callable
#        - '/^Parameter #2 \$callable of static method WP_CLI::add_command\(\) expects callable\(\): mixed, \S+ given\.$/'
#        # WP-CLI stubs can be generated and included in "scanFiles:"
#        # https://github.com/szepeviktor/phpstan-wordpress/blob/master/stub-generators/wp-cli-generate-stubs.sh
#        - '#on an unknown class WP_CLI\.$#'
